body{
    width:100%;
    height: 100%;
    padding:0;
    margin: 0;
}
.header{
    height:80px;
    background-color: grey;
}
.main{
    height:400px;
    background-color: bisque;
}
.footer{
    height:60px;
    background-color: aquamarine;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;

}
a{
    color: black;
    font-weight: bolder;
}
.main{
    text-align: center;
    padding-top: 250px;
}
.footer{
    text-align: center;
    padding-top: 20px;
}